// Colors
$color-brand: #27C052; //#54BC40;
$color-body: #242C38;
$color-gray: #80889C;
$color-light-gray: #BCC0CC;
$white: #fff;

// Font Size
$font-size-root: 16px;
$font-size-body: 1rem;

// Font Weight
$light: 300;
$normal: 400;
$bold: 700;

// Site Width
$inner-width: 768px;
$body-padding: 5rem;

// Break Point
$desk-top: 1440px;
$tablet: 768px;
$mobile-max: 480px;
$mobile-min: 320px;
