// S-CoreDream
@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('http://jwork.me/fonts/S-CoreDream/S-CoreDream-4Regular.woff') format('woff');
}

@font-face {
	font-family: 'S-CoreDream';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('http://jwork.me/fonts/S-CoreDream/S-CoreDream-5Medium.woff') format('woff');
}
