#about {}
.about-overview {
	margin-bottom: 5rem;
	word-break: keep-all;
	.featured {
		font-size: rem(44);
		font-weight: 500;
	}
}
.about-section {
	display: flex;
	margin-top: 3rem;
	.section-title {
		width: rem(220);
		margin: 1rem 0;
		color: $color-brand;
		font-size: rem(36);
		line-height: rem(38);
		word-break: keep-all;
		word-wrap: break-word;
	}
	.description {
		flex: 1;
		padding-left: rem(20);
		p {
			word-break: keep-all;
		}
	}
}


@media (max-width: $desk-top) {
	.about-section {
		display: block;
		.section-title {
			width: 100%;
			margin-bottom: 2rem;
		}
		.description {
			padding-left: 0;
		}
	}
}
