#app {
	height: 100vh;
}

.wrapper {
	position: relative;
	min-height: 100vh;
	&.padding {
		padding: $body-padding*2 $body-padding 10rem;
	}
}

.inner {
	width: $inner-width;
	margin: {
		left: auto;
		right: auto;
	}
}


.project-inner {
	width: 1200px;
	margin: 0 auto;
}

.btn-go-top {
	position: absolute;
	right: 2rem;
	bottom: 2rem;
}

// page scroll progress bar
#progress-container-el {
	top: 0 !important;
	background-color: transparent !important;
}
#progress-el {
	background-color: $color-brand !important;
}
