#app {
	height: 100vh;
}

.wrapper {
	min-height: 100vh;
	&.padding {
		padding: $body-padding*2 $body-padding 10rem;
	}
}

.inner {
	width: $inner-width;
	margin: {
		left: auto;
		right: auto;
	}
}
