@media (max-width: 1440px) {
	.project-inner {
		width: 100%;
		padding: {
			left: $inner-padding;
			right: $inner-padding;
		}
	}
}
@media (max-width: $desk-top) {
	html {
		font-size: 15px;
	}
	.wrapper {
		&.padding {
			padding: 2rem 0 $body-padding;
		}
	}

	.inner {
		width: 100%;
		padding: {
			left: $inner-padding;
			right: $inner-padding;
		}
	}
}

@media (max-width: $tablet) {

}

@media (max-width: $mobile-max) {

}
